@import 'tailwindcss';

@plugin "daisyui" {
  themes:
    caramellatte --default,
    sunset --prefersdark,
    synthwave,
    forest,
    coffee;
}

@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.halo {
  position: fixed;
  z-index: 0;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(18, 183, 114, 0.137) 0%,
    rgba(0, 0, 0, 0) 60%
  );
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition:
    transform 0.2s,
    background 0.2s;
}

.mobile-halo-div {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition:
    transform 0.2s,
    background 0.2s;
  left: 50%;
  top: -50px;
}

.mobile-halo {
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(128, 255, 202, 0.3) 0%,
    rgba(0, 0, 0, 0) 60%
  );
}

@layer utilities {
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(2rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-2rem);
    }
  }

  .animate-enter {
    animation: fadeInRight 300ms ease-out;
  }

  .animate-leave {
    animation: fadeOutLeft 300ms ease-in forwards;
  }
}